.nav {
    --img1: scale(1);
    --img2: scale(0);
}

.nav:has( .dropdown:target ) {
    --img1: scale(0);
    --img2: scale(1);
    --clip: inset(0 0 0 0);
}

.nav__container {
    grid-template-areas: "logo img";
}

.nav__logo {
    grid-area: logo;
}

.nav__menu {
    grid-area: img;
    z-index: 10;
    transition: all .3s;
    transform: var(--img1);
}

.nav__menu--second {
    transform: var(--img2);
}

.dropdown {
    clip-path: var(--clip, inset(0 0 0 100%));
    transition: clip-path .5s;
}

.toggle__slider:before {

    position: absolute;
    content: "";
    border-radius: 50%;
    background-color: white;

    height: 26px;
    width: 26px;

    left: 4px;
    bottom: 4px;

    transition: .4s;
}

input:checked + .toggle__slider {
    background-color: #2196F3;
}

input:checked + .toggle__slider:before {
    transform: translateX(26px);
}
