.nav {
    --img1: scale(1);
    --img2: scale(0);
}

.nav:has( .dropdown:target ) {
    --img1: scale(0);
    --img2: scale(1);
    --clip: inset(0 0 0 0);
}

.nav__container {
    grid-template-areas: "logo img";
}

.nav__logo {
    grid-area: logo;
}

.nav__menu {
    grid-area: img;
    z-index: 10;
    transition: all .3s;
    transform: var(--img1);
}

.nav__menu--second {
    transform: var(--img2);
}

.dropdown {
    clip-path: var(--clip, inset(0 0 0 100%));
    transition: clip-path .5s;
}

.toggle__slider:before {

    position: absolute;
    content: "";
    border-radius: 50%;
    background-color: white;

    height: 26px;
    width: 26px;

    left: 4px;
    bottom: 4px;

    transition: .4s;
}

input:checked + .toggle__slider {
    background-color: #2196F3;
}

input:checked + .toggle__slider:before {
    transform: translateX(26px);
}

.t-h1 {
   font-size: clamp(2.25rem, 4vw + 1rem, 3rem);
}

/* Agrega esto en tu archivo CSS */

/*.hero,
.about-me {
    min-height: 100vh; !* Cada sección ocupa toda la altura de la ventana *!
    display: flex; !* Alinea los elementos verticalmente *!
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}

!* También puedes ajustar el espacio interno (padding) según sea necesario *!


.about-me {
    padding: 16px; !* Ajusta según tus necesidades *!
}
*/


/*html, body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

body, main {
    height: 100vh;
    scroll-snap-type: y mandatory;
}



header {
    scroll-snap-align: start;
}

#about-me {
    background-color: #75C842;
}*/

/*
section {
    height: 100vh;
    scroll-snap-align: start;
}*/

/*
section {
    height: 100vh;
}*/

/*
body, main {
    scroll-snap-type: y mandatory;
}

section {
    scroll-snap-align: start;
}*/
